h1{
    color: #471570;
    margin-left: 20px;
    padding: 20px;
}

*{
    border: solid;
}

.header{
    background-color: cornflowerblue;
    display: flex;
    justify-content: space-between;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
